.App{
  background-color: #807ce4;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  border-radius: 50px;
}

#myImg{
  width: 135px;
  border-radius: 30%;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-left: 235px;
  margin-top: 20px;
}
.name{
width: 50%;
margin-left: 145px;
font-family: algerian;
text-align: center;
padding-bottom: 20px;
padding-top: 7px;
}
.adress{
  font-family: algerian;
  text-align: center;
  padding-bottom: 20px;

}
p{
  margin: 0;
  padding: 0;
}